

a {
  color: #00B7FF;
}

p {
    font-weight: lighter;
  color:white;
}

table thead th { color: white; font-size:10pt; }

h1 {
    color: white;
    font-family: "Helvetica Neue",
    Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: lighter;
    line-height: 26px;

    opacity: 1;
}

h2 {
    font-size: 50px;
    font-weight: lighter;
    color: white;
}

h3 {
    font-size: 30px;
    font-weight: lighter;
    color: white;
}





tr {
    color: white;
}



.grid-1 {
    padding-top: 40px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100vw;
    height: 100vh;
}

/* items */

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 20px;
}

/* specific item styles */

.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}






/* warn against lack of browser support */

.nope {
  display: block;
  color: white;
  background: orange;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@supports (display: grid) {
  .nope {
    display: none;
  }
}

.toplogo {
    height: 1%;
    max-height: 50px;
    max-width: 150px;
    width: 1%;
    margin-top: 5px;
}

.roundedimg {
    border-radius: 50%;
}

.row {
    display: flex;
}

.column {
    float: left;
    flex: 50%;
}


.counter
{

}

.furyButton{
    border: none;
    background: none;
}

#full-body {
    background:#000000;
}

#thanos-button {
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}